{% extends "base.html" %}
{% load static %}

{% block title %}Legacy Event Page{% endblock %}

{% block page_header %}Legacy Event Page (not used){% endblock %}

{% block content %}
    <table>
    {% for event in events %}
      <tr>
        <td>
          {% if not event.locked %}
          <a href="{% url 'vote-board' %}">
            {{ event.date }}
          </a>
          {% else %}
            {{ event.date }}
          {% endif %}
        </td>
        <td>
          {% if not event.locked %}
          <a href="{% url 'vote-board' %}">
            {{ event.title }}
          </a>
          {% else %}
	    {{ event.title }}
          {% endif %}
        </td>
        </a>
      </tr>
    {% endfor %}
    </table>
{% endblock %}
