<!DOCTYPE html>
<html>
<head>
  <title>PyCon Video Voting Board</title>
  <meta name="DC.title" content="Python Conference Video Voting Board" />
  <meta name="description" content="A MeetUp to watch PyCon Videos" />
  <meta name="robots" content="index,follow" />
  <meta name="keywords" content="Python, PyCon, BAyPIGgies Tutorials, MeetUp" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1>PyCon Video Voting Board
      <div class="g-plusone" data-annotation="inline" data-width="300"></div>

      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
  </h1>

  <table>
    <tr>
      <th>Vote up </th>
      <th>Current Score</th>
      <th>Title</th>
      <th>Speaker</th>
      <th>URL</th>
      <th>Video</th>
    </tr>


    {% for talk in talks %}
    <tr>
      <td>
	<form action="{% url 'vote' talk.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="+1"/>
        </form>
      </td>
      <td>
        {{ talk.score }}
      </td>

      <td>
        {{ talk.title }}
      </td>
      <td>
        {{ talk.author }}
      </td>
      <td>
        <a href="{{ talk.url }}">go to talk</a>
      </td>
      <td>
        {% if not talk.video %}
          No Video
        {% else %}
          <a href="{{ talk.video }}">go to video</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
