{% extends "base.html" %}
{% load static %}

{% block title %}PyCon Video Voting Board{% endblock %}

{% block page_header %}PyCon Video Voting Board{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Vote up </th>
      <th>Current Score</th>
      <th>Title</th>
      <th>Speaker</th>
      <th>URL</th>
      <th>Video</th>
    </tr>


    {% for talk in talks %}
    <tr>
      <td>
	<form action="{% url 'vote' talk.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="+1"/>
        </form>
      </td>
      <td>
        {{ talk.score }}
      </td>

      <td>
        {{ talk.title }}
      </td>
      <td>
        {{ talk.author }}
      </td>
      <td>
        <a href="{{ talk.url }}">go to talk</a>
      </td>
      <td>
        {% if not talk.video %}
          No Video
        {% else %}
          <a href="{{ talk.video }}">go to video</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
