{% load static %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
  <title>{% block title %}BAyPIGgies PyCon Event{% endblock %}</title>
  <meta name="DC.title" content="Python Conference Video Voting Board" />
  <meta name="description" content="A MeetUp to watch PyCon Videos" />
  <meta name="robots" content="index,follow" />
  <meta name="keywords" content="Python, PyCon, BAyPIGgies Tutorials, MeetUp" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>


  {% bootstrap_messages %}

  {% block navigation %}
  <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PyConNight</a>
    <button class="navbar-toggler"
	    type="button"
	    data-toggle="collapse"
	    data-target="#navbarSupportedContent"
	    aria-controls="navbarSupportedContent"
	    aria-expanded="false"
	    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'vote-board' %}">Video Voting<span class="sr-only">(current)</span></a>
        </li>
        <!-- li class="nav-item">
	  We are removing Open Spaces for the 2020 May meeting
          <a class="nav-link" href="{# url 'open-spaces-board' #}">Open Spaces<span class="sr-only"></span></a>
        </li-->
      </ul>
    </div>
  </nav>
  </div>
  {% endblock %}

<div class="container">
  <h1>{% block page_header %}BAyPIGgies PyCon Event{% endblock %}</h1>

  <div class="row">
  {% block content %}
  Missing content. Check your content block.
  {% endblock %}
  </div><!-- end outside most row -->
</div><!-- end container -->
</body>
</html>
