asgiref==3.2.7
atomicwrites==1.4.0; sys_platform == "win32"
attrs==19.3.0
colorama==0.4.3; sys_platform == "win32"
django==3.0.6
gunicorn==20.0.4
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.2
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
wcwidth==0.1.9
wheel==0.34.2
