{% extends "base.html" %}
{% load static %}

{% block title %}Add new Open Space{% endblock %}

{% block page_header %}Add new Open Space{% endblock %}

{% block content %}
  <p>
    Disclaimer: By adding an Open Space, you are acting as Host. It is your
		responsibilty to help monitor that the BAyPIGgies <a
			href="https://baypiggies.net/pages/code_of_conduct.html">Code
			of Conduct</a> is being followed. Please electronically
		remove members from the Space if the member will not comply to
		this conduct
  </p>

  <p>
    <form action="{% url 'new_open-space' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="I will host this Open Space">
    </form>
  </p>
{% endblock %}
