<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
   <link rel="icon" href="favicon.ico" type="image/x-icon">
   <link type="text/css" rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <table>
    {% for event in events %}
      <tr>
        <td>
          {% if not event.locked %}
          <a href="/vote_board/{{ event.key() }}">
            {{ event.date }}
          </a>
          {% else %}
            {{ event.date }}
          {% endif %}
        </td>
        <td>
          {% if not event.locked %}
          <a href="/vote_board/{{ event.key() }}">
            {{ event.title }}
          </a>
          {% else %}
            {{ event.title }}
          {% endif %}
        </td>
        </a>
      </tr>
    {% endfor %}
    </table>
  </body>
 </html>
{% endautoescape %}
